body {
    background-color: rgba(12, 242, 54, 0.34);
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 5%;
}

#question-container {
    width: 600px;
    height: 450px;
    max-width: 80%;
    max-height: 60%;
    background-color: white;
    border-radius: 20%;
    padding: 10px;
}

.btn-grid-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.btn {
    border: 2px solid black;
    color: black;
    font-size: 1.1rem;
}

.start-btn,
.next-btn {
    font-size: 1.2rem;
    font-weight: bold;
}